/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
   html{ height:100%; }
   body{ min-height:100%; padding:0; margin:0; position:relative; }
   body::after{ content:''; display:block; height:100px; }

   body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }

/* Header **/
header{
    background:#282828;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#00868B 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:left;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#00868B;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:400px;
    background:url('../images/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
    border-bottom:#00868B 3px solid;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }

  /* Boxes */
#boxes{
  margin-top:20px;
}

.box:hover img {
  opacity: 0.3;
}

#boxes .box{
  flex: 33.33%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width:90px;
  display: inline-block;
}

#boxes .container{
  display: flex;
}

h3{
  margin: 2px;
  padding: 0;
}
h4{
  margin: 0;
  padding: 0;
}

#projects .user{
  text-align: center;
  margin:20px;
}

#projects{
  text-align:center;
  color:#282828;
}

.text{
  text-align:center;
  color:#282828;
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */
   @media (min-width: 768px) {
    .bottomLinksDiv div div a {
        display: inline;
        text-align: center;
    }
}
/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */
   @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
}
