/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
   html{ height:100%; }
   body{ min-height:100%; padding:0; margin:0; position:relative; }
   body::after{ content:''; display:block; height:100px; }

   body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }  
  
  /* Showcase */

  
  #showcase{
    background-image: url('../images/highres.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    text-align:center;
    color:#ffffff;
    border-bottom:#00868B 3px solid;
  }

  #showcase h1{
    font-size:55px;
  }
  
  #showcase .container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  #showcase p{
    font-size:20px;
  }

  #main .development{
    text-align: center;
  }

  /* Boxes */
#boxes{
  margin-top:20px;
}

.box:hover img {
  opacity: 0.3;
}

#boxes .box{
  flex: 33.33%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width:90px;
  display: inline-block;
}

#boxes .container{
  display: flex;
}

/* Headers */
h3{
  margin: 2px;
  padding: 0;
}
h4{
  margin: 0;
  padding: 0;
}

/* Text */
div .text {
  color: #282828;
  margin: auto;
  width: 60%;
  padding: 10px;
}

h3{
  font-weight: bold;}


ul.List { display:table; margin:0 auto;} 

#main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Profile */
#main .centerProfile {
  border:#282828 1px solid;
  border-radius: 50%;
  padding: 5px;
  height: 150px;
}

#main .title{
  color: #282828;
  font-weight: bold;
  text-align: center;
}
/* Blink */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */
   @media (min-width: 768px) {
    .bottomLinksDiv div div a {
        display: inline;
        text-align: center;
    }
}
/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */
   @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    } 

    @media screen and (min-width: 601px) {
      div.example {
        font-size: 80px;
      }
    }
    
    @media screen and (max-width: 600px) {
      div.example {
        font-size: 30px;
      }
    }
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
}
