*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-Red: #d5281b;
    --color-DarkRed: #8A1538;
    --color-WhiteBackground: #f7f7f8;
    --color-Text: #212b32;
    --color-Link: #005eb8;
    --color-Nav: #ffffff;

}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-WhiteBackground);
    color: var(--color-Text);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
ul {
    list-style-type: none;
}

section {
    margin-top: 8rem;
}
.section-title {
    padding-top: 0.5em;
    margin-bottom: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-Text);
}
.section-title::after {
    content: "";
    margin: 0.3em auto 0;
    display: block;
    width: 1.5em;
    border-bottom: 0.2em solid var(--color-Red);
}



footer {
    padding: 3em 0;
    margin-top: 4em;
    text-align: center;
    background-color: rgb(233, 234, 237);
}
.footer__link {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-Text);
}

@media (max-width: 900px) {
    h1 {
        font-size: 2.6rem;
    }
}
::-moz-selection {
    color: var(--color-WhiteBackground);
    background: var(--color-Red);
    text-shadow: none;
}
::selection {
    color: var(--color-WhiteBackground);
    background: var(--color-Red);
    text-shadow: none;
}

h2,
h3,
p {
    orphans: 3;
    widows: 3;
}
h2,
h3 {
    page-break-after: avoid;
}
.blink {
    animation: 0.8s steps(5, start) infinite blink-animation;
    -webkit-animation: 0.8s steps(5, start) infinite blink-animation;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.center {
    display: flex;
    align-items: center;
}


.CTA {
    background: var(--color-Red);
    color: var(--color-Nav);
    border-radius: 5em;
    display: block;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
}

.CTA:hover {
    background: var(--color-Text);
    color: var(--color-Nav);
}


.about__name,
.link,
.overlay a:focus,
.overlay a:hover {
    color: var(--color-Red);
}
.menu {
    display: none;
}





  nav {
    background: #fff;
    padding: 0 15px;
  }
  a {
    color: var(--color-Text);
    text-decoration: none;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    color: var(--color-Red);
    font-size: 1.8em;
    font-weight: 700;
    padding: 7.5px 10px 7.5px 0;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: var(--color-Red);
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
        background: transparent;
        border: 1px var(--color-Red) solid;
        border-radius: 4px;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: var(--color-Red);
        color: #fff;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }





.about {
    flex-direction: column;
    margin-top: 3em;
    padding: 16px;
}
.about__role {
    font-size: 2em;
    color: var(--color-Text);
    margin-top: 1em;
}
.about__desc {
    font-size: 1rem;
    max-width: 600px;
}
.about__contact,
.about__desc {
    margin-top: 2.4em;
}
.about .link--icon {
    margin-right: 0.8em;
}
.about .btn--outline {
    margin-right: 1em;
}
.link {
    padding: 0 0 0.3em;
    position: relative;
    color: var(--color-Link);
    text-decoration: underline;
}

.contact {
    flex-direction: column;
}
.contact ul {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: center;
}
.contact .CTA {
    margin-right: 0.5em;
    margin-top: 0.3em;
}
.contact .icon,
.hero .icon {
    margin-right: 0.2em;
}
